{% extends "squirrel/base.html" %}
{% block title %}{{ article }}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<h1>{{ article.title }}</h1>

<h2>{{ article.description }}</h2>

<blockquote class="blockquote">
    <div id="html_content">{{ article.getImportantContent|safe }}</div>
    <footer class="blockquote-footer">
        <h2>Details</h2>
        by {{ article.author }} <cite title="">published {{ article.pub_date }}</cite></br>
        ((c) {{ article.publisher }} {{ article.copyright }}) <cite title="">from <a href="{{ article.download_url }}">{{ article.download_url }}</a> at {{ article.download_date }}</cite>
    </footer>
</blockquote>


<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Download
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'squirrel:download_html' article.id %}"><i class="fa fa-html5 fa-fw"></i>HTML org.</a>
    <a class="dropdown-item" href="{% url 'squirrel:download_md' article.id %}"><i class="fa fa-file-text fa-fw"></i>markdown</a>
  </div>
</div>

<a href="{% url 'squirrel:index' %}">Back</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
