{% extends "squirrel/base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
{% if latest_article_list %}
    <ul class="list-unstyled">
        {% for article in latest_article_list %}
        <li class="media  {% if article.isRead %}text-muted{% endif %}">
            <a href="{% url 'squirrel:detail' article.id %}">
                {% if article.thumbnail_url %}
                    <img src="{{ article.thumbnail_url}}" alt="" class="img-thumbnail">
                {% else %}
                    <img src="{% static 'logo.svg' %}" alt="" class="img-thumbnail">
                {% endif %}
            </a>
             <div class="media-body">
                <h5 class="mt-0 mb-1">{{ article.title }}</h5>
                <p class="mb-1">{{ article.description }} <a href="{% url 'squirrel:detail' article.id %}">...more</a></p>
                <small>{{ article.download_date|naturalday}}</small>
                <!--<small>cat1, cat2, cat3, ...</small>-->
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}
<a class="btn btn-primary btn-lg" href="{% url 'squirrel:add'%}"><i class="fa fa-plus" aria-hidden="true"></i>Add new ...</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
